article {
    width: 100vw;
    max-width: 980px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border:1px solid rgba(var(--b6a,219,219,219),1)  ;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.post {
    width: 100vw;
    max-width: 980px;
    height: auto;
}

.post-header{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    max-width: 980px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.post-header img {
    max-width: 32px;
    max-height: 32px;
}
.user-info{
    display: flex;
    flex-direction: column;
}
.place {
    font-weight: bold;
}
.actions{
    padding-left: 10px;
    padding-top: 10px;
}

.actions img{
    margin-right: 8px;
}

.likes-comments{
    padding-left: 10px;
}